<profile>
    <properties>
        <glassfish.glassfishDirectory>/initworks/programs/glassfish-v2u2</glassfish.glassfishDirectory>
        <glassfish.user>admin</glassfish.user>
        <glassfish.adminPassword>adminadmin</glassfish.adminPassword>
        <glassfish.domain.name>casper</glassfish.domain.name>
        <glassfish.domain.host>localhost</glassfish.domain.host>
        <glassfish.domain.adminPort>10161</glassfish.domain.adminPort>
    </properties>
</profile>